@layer css-module {
  .projectcontainer {
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    overflow: hidden;
  }

  .image-container {
    transition: all ease-in-out 0.2s;
    margin-bottom: 20px;
  }

  .preview-image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
  }

  .image-container:hover {
    scale: 1.1;
    cursor: pointer;
  }

  @media (min-width: 576px) {
    .projectcontainer {
      width: 50%;
    }
  }

  @media (min-width: 768px) {
    .projectcontainer {
      width: 50%;
    }
  }

  @media (min-width: 992px) {
    .projectcontainer {
      width: 33.33%;
    }
  }
}
