@layer css-module {
  .navbar {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    padding: 20px 10%;
    justify-content: space-evenly;
    transition: all ease-in-out 1s;
    border-bottom: 2px solid #ff6600;
    opacity: 1;
    background-color: black;
  }

  .link {
    text-decoration: none;
    padding: 20px;
    margin: 0 20px;
    color: white;
  }
  .link:hover,
  .linkactive {
    color: #ff6600;
  }

  .links {
    display: flex;
    flex-direction: row;
  }
  .test {
    color: red;
  }
  @media (max-width: 600px) {
    .link {
      text-decoration: none;
      padding: 0px;
      margin: 0 20px;
      color: white;
    }
  }
}
