@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  :root {
    --secondary-theme-color: #ff6600;
  }

  body {
    background-color: black;
  }
  .themecolor {
    color: #ff6600;
  }

  ::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-thumb {
    background: #ff6600;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: black;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #ff6600b3;
  }
}
